<h1 class="text-center mt-4">Listing All Articles</h1>
<p class="text-center">rendering from /views/articles/index.html.erb</p>

<div class="container">

  <% @articles.each do |article| %>
    <div class="row justify-content-md-center">
      <div class="col-8">
    
        <div class="card text-center mt-4 shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            by Oybek Kayumov
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
            <p class="card-text"><%= truncate(article.description, length: 100) %></p>

            <%# <a href="#" class="btn btn-outline-success">View</a> %>
            <%# <a href="#" class="btn btn-outline-info">Edit</a> %>
            <%# <a href="#" class="btn btn-outline-danger">Delete</a> %>

            <%= link_to "View", article_path(article), class: "btn btn-outline-success" %>
            
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-info" %>
            
            <%= link_to "Delete", article_path(article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>

          </div>
          <div class="card-footer text-muted">
            <small>
              Created <%= time_ago_in_words(article.created_at) %> ago, 
              Edited <%= time_ago_in_words(article.updated_at) %> ago.
            </small>
          </div>
        </div>
        
      </div>
    </div>

  <% end %>

</div>


<%#  
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan='3'>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do  |article| !
      <tr>
        <td><%= article.title !</td>
        <td><%= article.description !</td>
        <td><%= link_to 'Show', article_path(article) !</td>
        <td><%= link_to 'Edit', edit_article_path(article) !</td>
        <td><%= link_to 'Delete', article_path(article), data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } !
        </td> 
      </tr>
    <% end 
  </tbody>
</table>

<p>
  <%= link_to "Create new article", new_article_path !
</p>


<%# <td>some title</td>
<td>some description</td>
<td>placeholder</td> %>
 <%# <td><%= link_to 'Delete', '#'</td> %> 

 <%# article_path(article.id) = article_path(article) %>

 <%# <td><%= link_to 'Delete', article_path(article), method: :delete</td> %> 

<%# 
 <td><%= link_to 'Delete', article_path(article), data: { "turbo-method": :delete , "turbo-confirm": "Are you sure?"} </td> %>

 <%# !-->%>  %>