<h1>Article listing page</h1>
<p>rendering from /views/articles/index.html.erb</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Delete', article_path(article), data: { "turbo-method": :delete } %>
        </td> 
      </tr>
    <% end %>
  </tbody>
</table>


<%# <td>some title</td>
<td>some description</td>
<td>placeholder</td> %>
 <%# <td><%= link_to 'Delete', '#'</td> %> 

 <%# article_path(article.id) = article_path(article) %>

 <%# <td><%= link_to 'Delete', article_path(article), method: :delete</td> %> 

<%# 
 <td><%= link_to 'Delete', article_path(article), data: { "turbo-method": :delete , "turbo-confirm": "Are you sure?"} </td> %>
