<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%# show message if article saved without any errors %>
  <%# comes from article.controller.rb flash[:notise] = "msg" %>
    <%# <% flash.each do |name, msg| %>
      <%# <%= msg %> 
    <%# <% end %> 
  <%# take flash from _messages.html.erb, using partial file %>
  <%= render 'layouts/messages' %>

    <%= yield %>
  </body>
</html>
